 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1050px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-family: Lato, sans-serif;
  text-shadow: 2px 2px 8px rgba(66,84,101,0.4);
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: none;
  animation-duration: 1000ms;
  margin: 148px 109px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.4;
  width: 630px;
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.4;
  margin: 19px 302px 0 208px;
}

.u-section-1 .u-text-4 {
  font-size: 0.75rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.4;
  margin: 0 302px 0 208px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.4;
  margin: 8px 302px 0 208px;
}

.u-section-1 .u-text-6 {
  font-size: 0.75rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.4;
  margin: 0 302px 0 208px;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.4;
  margin: 8px 302px 0 208px;
}

.u-section-1 .u-text-8 {
  font-size: 0.75rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.4;
  margin: 0 302px 0 208px;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.4;
  margin: 9px 290px 0 220px;
}

.u-section-1 .u-text-10 {
  font-size: 0.75rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.4;
  margin: 0 302px 0 208px;
}

.u-section-1 .u-text-11 {
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.4;
  margin: 9px 290px 0 220px;
}

.u-section-1 .u-text-12 {
  font-size: 0.75rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.4;
  margin: 3px 302px 0 208px;
}

.u-section-1 .u-text-13 {
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.4;
  margin: 5px 290px 0 220px;
}

.u-section-1 .u-text-14 {
  font-size: 0.75rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.4;
  margin: 0 290px 0 220px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-15 {
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.4;
  margin: 9px 290px 0 220px;
}

.u-section-1 .u-text-16 {
  font-size: 0.75rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.4;
  margin: -1px 290px 0 220px;
}

.u-section-1 .u-text-17 {
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.4;
  margin: 9px 290px 0 220px;
}

.u-section-1 .u-text-18 {
  font-size: 0.75rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.4;
  margin: 0 290px 0 220px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-19 {
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.4;
  margin: 16px 290px 0 220px;
}

.u-section-1 .u-text-20 {
  font-size: 0.75rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.4;
  margin: 0 290px 33px 220px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 4.0625rem;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 202px;
    margin-left: 108px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 202px;
    margin-left: 108px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 202px;
    margin-left: 108px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 202px;
    margin-left: 108px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 202px;
    margin-left: 108px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 202px;
    margin-left: 108px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 190px;
    margin-left: 120px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 202px;
    margin-left: 108px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 190px;
    margin-left: 120px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 202px;
    margin-left: 108px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 190px;
    margin-left: 120px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 190px;
    margin-left: 120px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 190px;
    margin-left: 120px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 190px;
    margin-left: 120px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 190px;
    margin-left: 120px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 190px;
    margin-left: 120px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 190px;
    margin-left: 120px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 190px;
    margin-left: 120px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 90px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 90px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 90px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 90px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 90px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 90px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 80px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 90px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 80px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 90px;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 80px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 80px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 80px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 80px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 80px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 80px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 80px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 80px;
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 227px;
}

.u-section-2 .u-image-1 {
  width: 251px;
  height: 69px;
  margin: 3px auto 0 51px;
}

.u-section-2 .u-image-2 {
  width: 570px;
  height: 221px;
  margin: -117px auto 0 0;
}

.u-section-2 .u-line-1 {
  width: 912px;
  margin: -186px auto 0 78px;
}

.u-section-2 .u-text-1 {
  margin: 10px 150px 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 0 146px 72px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 188px;
  }

  .u-section-2 .u-image-1 {
    margin-left: -44px;
  }

  .u-section-2 .u-image-2 {
    width: 470px;
    height: 182px;
    margin-left: 300px;
  }

  .u-section-2 .u-line-1 {
    margin-top: -147px;
    margin-left: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 145px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 396px;
  }

  .u-section-2 .u-image-2 {
    width: 360px;
    height: 139px;
    margin-left: 210px;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
    margin-top: -104px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 110px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 300px;
  }

  .u-section-2 .u-image-2 {
    width: 270px;
    height: 104px;
    margin-left: 300px;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
    margin-top: -69px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 71px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 400px;
  }

  .u-section-2 .u-image-2 {
    width: 170px;
    height: 65px;
    margin-left: 400px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
    margin-top: -30px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 94px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 92px;
  }
}